__pycache__/
*.pyc
runs/
tests/data-probes/
/__pycache__
/__pycache__
__pycache__/nets.cpython-39.pyc
__pycache__/data_generation.cpython-39.pyc
__pycache__/nets.cpython-39.pyc
__pycache__/data_generation.cpython-39.pyc
